.Forma
{
    display: flex;
    flex-flow:row;
    align-items:flex-start;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.Forma-user
{
    display: flex;
    flex-flow:column;
    align-items:center;
    width: 100%;
}

.StarAndButton
{
    padding-left: 10%;
    display: flex;
    flex-flow: column;
    margin: 50px 0 45px;
    
}

.Korpa
{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    border: 2px solid #242424;
}

.Korpa:hover
{
    background-color: #242424;
    color:white;
    border: 2px solid rgb(236, 235, 228);
}

.akcija
{
    margin-top:20px;
    margin-bottom:20px;
    padding: 2%;
    background-color: rgb(101,0,38);
    color:white;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

