.contentdiv2
{
    background-image: url("../newformbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 600px;
    flex-wrap: wrap;
}

.Content2
{
    text-align: center;
    border: 2px solid black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    width: 500px;
    height: 560px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    
}